<app-signup-header></app-signup-header>
<div class="container borde_width" fxLayoutAlign="center center">
    <div class="borde_widths">
        <div class="chech_icons">
            <mat-icon class="check_icon">check_circle_outline</mat-icon>
        </div>
        <div>
            <div fxLayoutAlign="center center">
                <span class="setp_font">STEP <span class="setp_font_num">2</span> OF
                    <span class="setp_font_num">3</span></span>
            </div>
            <div class="pt-3" fxLayoutAlign="center center">
                <span class="step_title">Choose your plan.</span>
            </div>
            <div class="pt-3 pb-3">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div class="p-2">
                        <mat-icon class="icon_done">check</mat-icon>
                    </div>
                    <div class="p-2">
                        <span class="step_sub_title">No commitments, cancel anytime.</span>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div class="p-2">
                        <mat-icon class="icon_done">check</mat-icon>
                    </div>
                    <div class="p-2">
                        <span class="step_sub_title">Everything on Netflix for one low price.</span>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div class="p-2">
                        <mat-icon class="icon_done">check</mat-icon>
                    </div>
                    <div class="p-2">
                        <span class="step_sub_title">No ads and no extra fees. Ever.</span>
                    </div>
                </div>
            </div>
            <div>
                <button mat-button class="btn-next" (click)="goToRegFormPage()">
                    Next
                </button>
            </div>
        </div>
    </div>
</div>
<app-signup-footer></app-signup-footer>