<app-signup-header></app-signup-header>
<div class="container borde_width" fxLayoutAlign="start start">
  <div class="borde_widths">
    <div>
      <div>
        <span class="setp_font"
          >{{ "planform.stepTxt" | translate
          }}<span class="setp_font_num">{{
            "planform.inStep" | translate
          }}</span>
          {{ "planform.ofTxt" | translate }}
          <span class="setp_font_num">{{
            "planform.totalStep" | translate
          }}</span></span
        >
      </div>
      <div class="pt-3">
        <span class="step_title"> {{ "planform.h1" | translate }}</span>
      </div>
      <div class="pt-3 pb-3">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div class="p-1">
            <mat-icon class="icon_done">check</mat-icon>
          </div>
          <div class="p-1">
            <span class="step_sub_title">
              {{ "planform.checkList1" | translate }}</span
            >
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <div class="p-1">
            <mat-icon class="icon_done">check</mat-icon>
          </div>
          <div class="p-1">
            <span class="step_sub_title">
              {{ "planform.checkList2" | translate }}</span
            >
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <div class="p-1">
            <mat-icon class="icon_done">check</mat-icon>
          </div>
          <div class="p-1">
            <span class="step_sub_title">
              {{ "planform.checkList3" | translate }}</span
            >
          </div>
        </div>
      </div>
      <div class="mode_data" fxLayout="row">
        <div
          fxHide
          fxShow.gt-sm
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="30"
          fxFlex.xl="40"
        ></div>
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="17"
          fxFlex.xl="15"
        >
          <div class="select_mode">
            <span class="selcted_title">
              {{ "planform.mobile" | translate }}</span
            >
          </div>
        </div>
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="17"
          fxFlex.xl="15"
        >
          <div class="select_mode">
            <span class="selcted_title">
              {{ "planform.basic" | translate }}</span
            >
          </div>
        </div>
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="18"
          fxFlex.xl="15"
        >
          <div class="select_mode">
            <span class="selcted_title">
              {{ "planform.standard" | translate }}</span
            >
          </div>
        </div>
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="18"
          fxFlex.xl="15"
        >
          <div class="select_mode">
            <span class="selcted_title">{{
              "planform.premium" | translate
            }}</span>
          </div>
        </div>
      </div>
      <div class="mode_list" fxLayout="row">
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="30"
          fxFlex.xl="40"
        >
          <div>
            <span class="selcted_sidetitle">{{
              "planform.monthlyPrice" | translate
            }}</span>
          </div>
        </div>
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="17"
          fxFlex.xl="15"
        >
          <div class="select_list">
            <span class="selcted_subtitle">₹ 149</span>
          </div>
        </div>
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="17"
          fxFlex.xl="15"
        >
          <div class="select_list">
            <span class="selcted_subtitle">₹ 199</span>
          </div>
        </div>
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="18"
          fxFlex.xl="15"
        >
          <div class="select_list">
            <span class="selcted_subtitle">₹ 499</span>
          </div>
        </div>
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="18"
          fxFlex.xl="15"
        >
          <div class="select_list">
            <span class="selcted_subtitle">₹ 649</span>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="mode_list" fxLayout="row">
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="30"
          fxFlex.xl="40"
        >
          <div>
            <span class="selcted_sidetitle">{{
              "planform.videoQuality" | translate
            }}</span>
          </div>
        </div>
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="17"
          fxFlex.xl="15"
        >
          <div class="select_list">
            <span class="selcted_subtitle">{{
              "planform.good" | translate
            }}</span>
          </div>
        </div>
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="17"
          fxFlex.xl="15"
        >
          <div class="select_list">
            <span class="selcted_subtitle">{{
              "planform.good" | translate
            }}</span>
          </div>
        </div>
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="18"
          fxFlex.xl="15"
        >
          <div class="select_list">
            <span class="selcted_subtitle">
              {{ "planform.better" | translate }}</span
            >
          </div>
        </div>
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="18"
          fxFlex.xl="15"
        >
          <div class="select_list">
            <span class="selcted_subtitle">{{
              "planform.best" | translate
            }}</span>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="mode_list" fxLayout="row">
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="30"
          fxFlex.xl="40"
        >
          <div>
            <span class="selcted_sidetitle">{{
              "planform.resolution" | translate
            }}</span>
          </div>
        </div>
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="17"
          fxFlex.xl="15"
        >
          <div class="select_list">
            <span class="selcted_subtitle">480p</span>
          </div>
        </div>
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="17"
          fxFlex.xl="15"
        >
          <div class="select_list">
            <span class="selcted_subtitle">720p</span>
          </div>
        </div>
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="18"
          fxFlex.xl="15"
        >
          <div class="select_list">
            <span class="selcted_subtitle">1080p</span>
          </div>
        </div>
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="18"
          fxFlex.xl="15"
        >
          <div class="select_list">
            <span class="selcted_subtitle">4K+HDR</span>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="mode_list" fxLayout="row">
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="30"
          fxFlex.xl="40"
        >
          <div>
            <span class="selcted_sidetitle">
              {{ "planform.devices" | translate }}</span
            >
          </div>
        </div>
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="17"
          fxFlex.xl="15"
        >
          <div class="select_list">
            <mat-icon class="icon_select">phone_iphone</mat-icon>
          </div>
        </div>
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="17"
          fxFlex.xl="15"
        >
          <div class="select_list">
            <mat-icon class="icon_select">phone_iphone</mat-icon>
          </div>
        </div>
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="18"
          fxFlex.xl="15"
        >
          <div class="select_list">
            <mat-icon class="icon_select">phone_iphone</mat-icon>
          </div>
        </div>
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="18"
          fxFlex.xl="15"
        >
          <div class="select_list">
            <mat-icon class="icon_select">phone_iphone</mat-icon>
          </div>
        </div>
      </div>
      <div class="mode_list" fxLayout="row">
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="30"
          fxFlex.xl="40"
        ></div>
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="17"
          fxFlex.xl="15"
        >
          <div class="select_list">
            <mat-icon class="icon_select">table</mat-icon>
          </div>
        </div>
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="17"
          fxFlex.xl="15"
        >
          <div class="select_list">
            <mat-icon class="icon_select">tablet</mat-icon>
          </div>
        </div>
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="18"
          fxFlex.xl="15"
        >
          <div class="select_list">
            <mat-icon class="icon_select">tablet</mat-icon>
          </div>
        </div>
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="18"
          fxFlex.xl="15"
        >
          <div class="select_list">
            <mat-icon class="icon_select">tablet</mat-icon>
          </div>
        </div>
      </div>
      <div class="mode_list" fxLayout="row">
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="30"
          fxFlex.xl="40"
        ></div>
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="17"
          fxFlex.xl="15"
        ></div>
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="17"
          fxFlex.xl="15"
        >
          <div class="select_list">
            <mat-icon class="icon_select">laptop_mac</mat-icon>
          </div>
        </div>
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="18"
          fxFlex.xl="15"
        >
          <div class="select_list">
            <mat-icon class="icon_select">laptop_mac</mat-icon>
          </div>
        </div>
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="18"
          fxFlex.xl="15"
        >
          <div class="select_list">
            <mat-icon class="icon_select">laptop_mac</mat-icon>
          </div>
        </div>
      </div>
      <div class="mode_list" fxLayout="row">
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="30"
          fxFlex.xl="40"
        ></div>
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="17"
          fxFlex.xl="15"
        ></div>
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="17"
          fxFlex.xl="15"
        >
          <div class="select_list">
            <mat-icon class="icon_select">tv</mat-icon>
          </div>
        </div>
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="18"
          fxFlex.xl="15"
        >
          <div class="select_list">
            <mat-icon class="icon_select">tv</mat-icon>
          </div>
        </div>
        <div
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="20"
          fxFlex.lg="18"
          fxFlex.xl="15"
        >
          <div class="select_list">
            <mat-icon class="icon_select">tv</mat-icon>
          </div>
        </div>
      </div>
      <div class="end_des pt-5">
        <span class="dec_text">{{ "planform.infoTxt" | translate }}</span>
      </div>
      <div class="end_des pt-3 pb-4">
        <span class="dec_text"> {{ "planform.infoTxt2" | translate }}</span>
      </div>
      <div fxLayoutAlign="center center" class="pt-5 pb-5">
        <button mat-button class="btn-next" (click)="goToRegFormPage()">
          {{ "planform.nextBtnTxt" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<app-signup-footer></app-signup-footer>
