<app-signup-header></app-signup-header>
<div class="container borde_width" fxLayoutAlign="center center">
  <div class="borde_widths">
    <div class="chech_icons">
      <mat-icon class="check_icon">check_circle_outline </mat-icon>
    </div>
    <div>
      <div class="pt-3 pb-3" fxLayoutAlign="center center">
        <span class="step_title"> Congratulations !</span>
      </div>
      <div fxLayoutAlign="center center" class="pt-3 pb-5">
        <span class="step_sub_title">You Have Successfully Made The payment !</span>
      </div>
      <div>
        <button mat-button class="btn-next" (click)="goToRegFormPage()">
          CONTINUE
        </button>
      </div>
    </div>
  </div>
</div>
<app-signup-footer></app-signup-footer>
