<div class="padding_modal">
  <div fxLayout="row" fxLayoutAlign="end center">
    <button mat-icon-button class="m-2 btn_close" mat-dialog-close>
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <div class="bord_video">
    <!-- <app-jwplayer></app-jwplayer> -->
    <video controls autoplay id="backgroundVideo">
      <source [src]="data?.trailer[0]" type="video/mp4" />
    </video>
  </div>
  <div class="p-4">
    <div fxLayout="row wrap" class="pb-2">
      <div
        fxFlex.xs="100"
        fxFlex.sm="100"
        fxFlex.md="50"
        fxFlex.lg="55"
        fxFlex.xl="55"
      >
        <div fxLayout="row" fxLayoutAlign="start center">
          <div class="p-1">
            <span class="new">New</span>
          </div>
          <div class="p-1">
            <span class="title">2023</span>
          </div>
          <div class="bord_title">
            <span class="title_UA">U/A 16+</span>
          </div>
          <div class="p-1">
            <span class="title">{{ data?.duration }}</span>
          </div>
          <div class="bord_title">
            <span class="title_HD">HD</span>
          </div>
        </div>
      </div>
      <div
        fxFlex.xs="100"
        fxFlex.sm="100"
        fxFlex.md="50"
        fxFlex.lg="45"
        fxFlex.xl="45"
      >
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="p-1">
            <span class="cast_titles">Cast:</span>
          </div>
          <div class="p-1">
            <span class="cast_link"
              ><a href="">{{ data?.casts }}</a></span
            >
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap">
      <div
        fxFlex.xs="100"
        fxFlex.sm="100"
        fxFlex.md="50"
        fxFlex.lg="55"
        fxFlex.xl="55"
      >
        <div fxLayout="row" fxLayoutAlign="start center">
          <div class="p-1">
            <span class="movies_today">#2 in Movies Today</span>
          </div>
        </div>
      </div>
      <div
        fxFlex.xs="100"
        fxFlex.sm="100"
        fxFlex.md="50"
        fxFlex.lg="45"
        fxFlex.xl="45"
      >
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="p-1">
            <span class="cast_title">Genres:</span>
          </div>
          <div class="p-1">
            <span class="cast_link"
              ><a href="">{{ data?.genres }}</a></span
            >
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap">
      <div
        fxFlex.xs="100"
        fxFlex.sm="100"
        fxFlex.md="50"
        fxFlex.lg="55"
        fxFlex.xl="55"
      >
        <div>
          <span class="des_move">{{
            data?.description | slice : 0 : 250
          }}</span>
        </div>
      </div>
    </div>
    <div *ngIf="data?.video_type !== 'movies'">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div class="pt-5 pb-1">
          <span class="season-header">Episodes</span>
        </div>
        <div class="pt-5 pb-1">
          <!-- <mat-form-field appearance="outline" class="select_feled"> -->
          <select value="volvo" class="season-drop">
            <option class="season-drops" value="volvo">Season 1</option>
            <option class="season-drops" value="saab">Season 2</option>
            <option class="season-drops" value="mercedes">Season 3</option>
            <option class="season-drops" value="audi">Season 4</option>
          </select>
          <!-- </mat-form-field> -->
        </div>
      </div>
      <div>
        <div
          fxLayout="row wrap"
          fxLayoutAlign="start center"
          class="season_episode p-3"
        >
          <div
            fxFlex.xs="100"
            fxFlex.sm="50"
            fxFlex.md="10"
            fxFlex.lg="5"
            fxFlex.xl="5"
          >
            <div>
              <span class="section_ser">1</span>
            </div>
          </div>
          <div
            fxFlex.xs="100"
            fxFlex.sm="50"
            fxFlex.md="30"
            fxFlex.lg="25"
            fxFlex.xl="25"
          >
            <div class="episode_img_back">
              <img src="assets/1.jpg" alt="" class="episode_img" />
            </div>
          </div>
          <div
            fxFlex.xs="100"
            fxFlex.sm="50"
            fxFlex.md="60"
            fxFlex.lg="70"
            fxFlex.xl="70"
          >
            <div
              fxLayout="row"
              fxLayoutAlign="space-between center"
              class="p-2"
            >
              <div>
                <span class="sesion_title">Pilot</span>
              </div>
              <div>
                <span class="sesion_dur">44m</span>
              </div>
            </div>
            <div class="p-2">
              <div>
                <span class="sesion_dec"
                  >Presumed dead for five years before being discovered on a
                  remote Pacific island, billionaire playboy Oliver Queen
                  returns home a changed man.</span
                >
              </div>
            </div>
          </div>
        </div>
        <div
          fxLayout="row wrap"
          fxLayoutAlign="start center"
          class="season_episode p-3"
        >
          <div
            fxFlex.xs="100"
            fxFlex.sm="50"
            fxFlex.md="10"
            fxFlex.lg="5"
            fxFlex.xl="5"
          >
            <div>
              <span class="section_ser">2</span>
            </div>
          </div>
          <div
            fxFlex.xs="100"
            fxFlex.sm="50"
            fxFlex.md="30"
            fxFlex.lg="25"
            fxFlex.xl="25"
          >
            <div class="episode_img_back">
              <img src="assets/1.jpg" alt="" class="episode_img" />
            </div>
          </div>
          <div
            fxFlex.xs="100"
            fxFlex.sm="50"
            fxFlex.md="60"
            fxFlex.lg="70"
            fxFlex.xl="70"
          >
            <div
              fxLayout="row"
              fxLayoutAlign="space-between center"
              class="p-2"
            >
              <div>
                <span class="sesion_title">Pilot</span>
              </div>
              <div>
                <span class="sesion_dur">44m</span>
              </div>
            </div>
            <div class="p-2">
              <div>
                <span class="sesion_dec"
                  >Presumed dead for five years before being discovered on a
                  remote Pacific island, billionaire playboy Oliver Queen
                  returns home a changed man.</span
                >
              </div>
            </div>
          </div>
        </div>
        <div
          fxLayout="row wrap"
          fxLayoutAlign="start center"
          class="season_episode p-3"
        >
          <div
            fxFlex.xs="100"
            fxFlex.sm="50"
            fxFlex.md="10"
            fxFlex.lg="5"
            fxFlex.xl="5"
          >
            <div>
              <span class="section_ser">3</span>
            </div>
          </div>
          <div
            fxFlex.xs="100"
            fxFlex.sm="50"
            fxFlex.md="30"
            fxFlex.lg="25"
            fxFlex.xl="25"
          >
            <div class="episode_img_back">
              <img src="assets/1.jpg" alt="" class="episode_img" />
            </div>
          </div>
          <div
            fxFlex.xs="100"
            fxFlex.sm="50"
            fxFlex.md="60"
            fxFlex.lg="70"
            fxFlex.xl="70"
          >
            <div
              fxLayout="row"
              fxLayoutAlign="space-between center"
              class="p-2"
            >
              <div>
                <span class="sesion_title">Pilot</span>
              </div>
              <div>
                <span class="sesion_dur">44m</span>
              </div>
            </div>
            <div class="p-2">
              <div>
                <span class="sesion_dec"
                  >Presumed dead for five years before being discovered on a
                  remote Pacific island, billionaire playboy Oliver Queen
                  returns home a changed man.</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row">
      <div class="pt-5 pb-3">
        <span class="section-header">More Like This</span>
      </div>
    </div>
    <div fxLayout="row wrap">
      <div
        fxFlex.xs="100"
        fxFlex.sm="50"
        fxFlex.md="33"
        fxFlex.lg="33"
        fxFlex.xl="33"
        class="p-2"
        *ngFor="let video of similarVideoList"
      >
        <div class="bord_card">
          <div>
            <img [src]="video?.thumbnail_image[0]" alt="" class="card_img" />
          </div>
          <div class="p-3">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <div>
                <div>
                  <span class="new">71% Match</span>
                </div>
                <div>
                  <span class="maturity-rating"
                    >U/A {{ video?.maturity_rating }}</span
                  ><span class="cast_dec"> 2023</span>
                </div>
              </div>
              <div>
                <button mat-mini-fab class="btn_watchlist">
                  <mat-icon
                    *ngIf="!video.is_wishlist"
                    (click)="addToMyList(video)"
                    >add</mat-icon
                  >
                  <mat-icon *ngIf="video.is_wishlist">check</mat-icon>
                </button>
              </div>
            </div>
            <div class="pt-3 pb-2">
              <span class="card_dec">{{
                video?.description | slice : 0 : 150
              }}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- you can remove this path when you will add ngfor -->

      <!-- till hear -->
    </div>
    <div fxLayout="row">
      <div class="pt-5 pb-3">
        <span class="section-header">About {{ data?.title }}</span>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start">
      <div class="p-1">
        <span class="cast_title">Director:</span>
      </div>
      <div class="p-1">
        <span class="cast_link"
          ><a href="">{{ data?.director }}</a></span
        >
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start">
      <div class="p-1">
        <span class="cast_title">Cast:</span>
      </div>
      <div class="p-1">
        <span class="cast_link"
          ><a href="">{{ data?.casts }}</a></span
        >
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start">
      <div class="p-1">
        <span class="cast_title">Writer:</span>
      </div>
      <div class="p-1">
        <span class="cast_link"
          ><a href="">{{ data?.writer }}</a></span
        >
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start">
      <div class="p-1">
        <span class="cast_title">Genres:</span>
      </div>
      <div class="p-1">
        <span class="cast_link"
          ><a href="">{{ data?.genres }}</a></span
        >
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start">
      <div class="p-1">
        <span class="cast_title">Maturity rating:</span>
      </div>
      <div class="p-1" fxLayout="row">
        <span class="cast_dec">
          <span class="rate_text">U/A {{ data?.maturity_rating }}</span>
          &nbsp; Suitable for persons aged 16 and above and<br />
          under parental guidance for people under age of 16</span
        >
      </div>
    </div>
  </div>
</div>
