<div class="padding_modal">
    <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-icon-button class="m-2 btn_close" mat-dialog-close>
            <mat-icon>clear</mat-icon>
        </button>
    </div>
    <div class="bord_video">
        <video muted id="backgroundVideo">
            <source src="assets/Khatal.mp4" type="video/mp4">
        </video>
    </div>
    <div class="p-4">
        <div fxLayout="row wrap" class="pb-2">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="55" fxFlex.xl="55">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div class="p-1">
                        <span class="new">New</span>
                    </div>
                    <div class="p-1">
                        <span class="title">2023</span>
                    </div>
                    <div class="bord_title">
                        <span class="title_UA">U/A 16+</span>
                    </div>
                    <div class="p-1">
                        <span class="title">1h 50m</span>
                    </div>
                    <div class="bord_title">
                        <span class="title_HD">HD</span>
                    </div>
                </div>
            </div>  
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="45" fxFlex.xl="45">
                <div fxLayout="row" fxLayoutAlign="start start">
                    <div class="p-1">
                        <span class="cast_titles">Cast:</span>
                    </div>
                    <div class="p-1">
                        <span class="cast_link"><a href="">Joju George ,</a><a href="">Anjali ,</a><a href="">Srindaa</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row wrap">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="55" fxFlex.xl="55">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div class="p-1">
                        <span class="movies_today">#2 in Movies Today</span>
                    </div>
                </div>
            </div>  
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="45" fxFlex.xl="45">
                <div fxLayout="row" fxLayoutAlign="start start">
                    <div class="p-1">
                        <span class="cast_title">Genres:</span>
                    </div>
                    <div class="p-1">
                        <span class="cast_link"><a href="">Malayalam-Language Movies ,</a><a href="">Crime Movies ,</a><a href="">Dramas</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row wrap">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="55" fxFlex.xl="55">
                <div>
                    <span class="des_move">After a cop is found dead, a policeman's investigation sparks a chilling search for the truth connected to his estranged twin and their fraught past.</span>
                </div>
            </div>
        </div>
        <div fxLayout="row">
            <div class="pt-5 pb-3">
                <span class="section-header">More Like This</span>
            </div>
        </div>
        <div fxLayout="row wrap">
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-2">
                <div class="bord_card">
                    <div>
                        <img src="../../../assets/1.jpg" alt="" class="card_img">
                    </div>
                    <div class="p-3">
                        <div fxLayout="row" fxLayoutAlign="space-between center" >
                            <div>
                                <div>
                                    <span class="new">71% Match</span>
                                </div>
                                <div>
                                    <span class="maturity-rating">U/A 13+</span><span class="cast_dec"> 2023</span>
                                </div>
                            </div>
                            <div>
                                <button mat-mini-fab class="btn_watchlist">
                                    <mat-icon>add</mat-icon> 
                                    <!-- <mat-icon>check</mat-icon> -->
                                  </button>
                            </div>
                        </div>
                        <div class="pt-3 pb-2">
                            <span class="card_dec">Geralt of Rivia, a mutated monster-hunter for hire, journeys toward his destiny in a turbulent world where people often prove more wicked than beasts.</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- you can remove this path when you will add ngfor -->
            
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-2">
                <div class="bord_card">
                    <div>
                        <img src="../../../assets/1.jpg" alt="" class="card_img">
                    </div>
                    <div class="p-3">
                        <div fxLayout="row" fxLayoutAlign="space-between center" >
                            <div>
                                <div>
                                    <span class="new">71% Match</span>
                                </div>
                                <div>
                                    <span class="maturity-rating">U/A 13+</span><span class="cast_dec"> 2023</span>
                                </div>
                            </div>
                            <div>
                                <button mat-mini-fab class="btn_watchlist">
                                    <mat-icon>add</mat-icon> 
                                    <!-- <mat-icon>check</mat-icon> -->
                                  </button>
                            </div>
                        </div>
                        <div class="pt-3 pb-2">
                            <span class="card_dec">Geralt of Rivia, a mutated monster-hunter for hire, journeys toward his destiny in a turbulent world where people often prove more wicked than beasts.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-2">
                <div class="bord_card">
                    <div>
                        <img src="../../../assets/1.jpg" alt="" class="card_img">
                    </div>
                    <div class="p-3">
                        <div fxLayout="row" fxLayoutAlign="space-between center" >
                            <div>
                                <div>
                                    <span class="new">71% Match</span>
                                </div>
                                <div>
                                    <span class="maturity-rating">U/A 13+</span><span class="cast_dec"> 2023</span>
                                </div>
                            </div>
                            <div>
                                <button mat-mini-fab class="btn_watchlist">
                                    <mat-icon>add</mat-icon> 
                                    <!-- <mat-icon>check</mat-icon> -->
                                  </button>
                            </div>
                        </div>
                        <div class="pt-3 pb-2">
                            <span class="card_dec">Geralt of Rivia, a mutated monster-hunter for hire, journeys toward his destiny in a turbulent world where people often prove more wicked than beasts.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-2">
                <div class="bord_card">
                    <div>
                        <img src="../../../assets/1.jpg" alt="" class="card_img">
                    </div>
                    <div class="p-3">
                        <div fxLayout="row" fxLayoutAlign="space-between center" >
                            <div>
                                <div>
                                    <span class="new">71% Match</span>
                                </div>
                                <div>
                                    <span class="maturity-rating">U/A 13+</span><span class="cast_dec"> 2023</span>
                                </div>
                            </div>
                            <div>
                                <button mat-mini-fab class="btn_watchlist">
                                    <mat-icon>add</mat-icon> 
                                    <!-- <mat-icon>check</mat-icon> -->
                                  </button>
                            </div>
                        </div>
                        <div class="pt-3 pb-2">
                            <span class="card_dec">Geralt of Rivia, a mutated monster-hunter for hire, journeys toward his destiny in a turbulent world where people often prove more wicked than beasts.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-2">
                <div class="bord_card">
                    <div>
                        <img src="../../../assets/1.jpg" alt="" class="card_img">
                    </div>
                    <div class="p-3">
                        <div fxLayout="row" fxLayoutAlign="space-between center" >
                            <div>
                                <div>
                                    <span class="new">71% Match</span>
                                </div>
                                <div>
                                    <span class="maturity-rating">U/A 13+</span><span class="cast_dec"> 2023</span>
                                </div>
                            </div>
                            <div>
                                <button mat-mini-fab class="btn_watchlist">
                                    <mat-icon>add</mat-icon> 
                                    <!-- <mat-icon>check</mat-icon> -->
                                  </button>
                            </div>
                        </div>
                        <div class="pt-3 pb-2">
                            <span class="card_dec">Geralt of Rivia, a mutated monster-hunter for hire, journeys toward his destiny in a turbulent world where people often prove more wicked than beasts.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-2">
                <div class="bord_card">
                    <div>
                        <img src="../../../assets/1.jpg" alt="" class="card_img">
                    </div>
                    <div class="p-3">
                        <div fxLayout="row" fxLayoutAlign="space-between center" >
                            <div>
                                <div>
                                    <span class="new">71% Match</span>
                                </div>
                                <div>
                                    <span class="maturity-rating">U/A 13+</span><span class="cast_dec"> 2023</span>
                                </div>
                            </div>
                            <div>
                                <button mat-mini-fab class="btn_watchlist">
                                    <mat-icon>add</mat-icon> 
                                    <!-- <mat-icon>check</mat-icon> -->
                                  </button>
                            </div>
                        </div>
                        <div class="pt-3 pb-2">
                            <span class="card_dec">Geralt of Rivia, a mutated monster-hunter for hire, journeys toward his destiny in a turbulent world where people often prove more wicked than beasts.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-2">
                <div class="bord_card">
                    <div>
                        <img src="../../../assets/1.jpg" alt="" class="card_img">
                    </div>
                    <div class="p-3">
                        <div fxLayout="row" fxLayoutAlign="space-between center" >
                            <div>
                                <div>
                                    <span class="new">71% Match</span>
                                </div>
                                <div>
                                    <span class="maturity-rating">U/A 13+</span><span class="cast_dec"> 2023</span>
                                </div>
                            </div>
                            <div>
                                <button mat-mini-fab class="btn_watchlist">
                                    <mat-icon>add</mat-icon> 
                                    <!-- <mat-icon>check</mat-icon> -->
                                  </button>
                            </div>
                        </div>
                        <div class="pt-3 pb-2">
                            <span class="card_dec">Geralt of Rivia, a mutated monster-hunter for hire, journeys toward his destiny in a turbulent world where people often prove more wicked than beasts.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" class="p-2">
                <div class="bord_card">
                    <div>
                        <img src="../../../assets/1.jpg" alt="" class="card_img">
                    </div>
                    <div class="p-3">
                        <div fxLayout="row" fxLayoutAlign="space-between center" >
                            <div>
                                <div>
                                    <span class="new">71% Match</span>
                                </div>
                                <div>
                                    <span class="maturity-rating">U/A 13+</span><span class="cast_dec"> 2023</span>
                                </div>
                            </div>
                            <div>
                                <button mat-mini-fab class="btn_watchlist">
                                    <mat-icon>add</mat-icon> 
                                    <!-- <mat-icon>check</mat-icon> -->
                                  </button>
                            </div>
                        </div>
                        <div class="pt-3 pb-2">
                            <span class="card_dec">Geralt of Rivia, a mutated monster-hunter for hire, journeys toward his destiny in a turbulent world where people often prove more wicked than beasts.</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- till hear -->
        </div>
        <div fxLayout="row">
            <div class="pt-5 pb-3">
                <span class="section-header">About Iratta</span>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
            <div class="p-1">
                <span class="cast_title">Director:</span>
            </div>
            <div class="p-1">
                <span class="cast_link"><a href="">Rohit M.G. Krishnan</a></span>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
            <div class="p-1">
                <span class="cast_title">Cast:</span>
            </div>
            <div class="p-1">
                <span class="cast_link"><a href="">Joju George ,</a><a href="">Anjali ,</a><a href="">Srindaa</a><a href="">Srikant Murali ,</a><a href="">Arya Salim ,</a><a href="">Manoj K.U.</a><a href="">Sabumon Abdusamad ,</a><a href="">Abhiram Radhakrishnan ,</a><a href="">Sarath Sabha ,</a> <a href="">Jithu Ashraf</a></span>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
            <div class="p-1">
                <span class="cast_title">Writer:</span>
            </div>
            <div class="p-1">
                <span class="cast_link"><a href="">Rohit M.G. Krishnan</a></span>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
            <div class="p-1">
                <span class="cast_title">Genres:</span>
            </div>
            <div class="p-1">
                <span class="cast_link"><a href="">Malayalam-Language Movies ,</a><a href="">Crime Movies ,</a><a href="">Dramas</a><a href="">Thriller Movies</a></span>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
            <div class="p-1">
                <span class="cast_title">Maturity rating:</span>
            </div>
            <div class="p-1" fxLayout="row">
                <span class="cast_dec"> 
                <span class="rate_text">U/A 16+</span>  gore, sexual violence, suicide. <br> Suitable for persons aged 16 and above and under parental guidance for people under age of 16</span>
            </div>
        </div>
    </div>
</div>