.bg{
    background: #f3f3f3;
    height: 100%;
}
.head_title{
    font-size: 35px;
    margin: 0 0 0.55em;
    padding-right: 15px;
}
.title_icon{
    color: red;
    margin: 0 0 0.55em;
}
.head_subtitle{
    font-size: 20px;
    margin: 0 0 0.55em;
}