<app-accounts-header></app-accounts-header>
<div>
    <div class="bg">
        <div class="container">
            <div class="pt-5">
                <div fxLayout="row" class="pb-3">
                    <div>
                        <span class="head_title">Account</span>
                    </div>
                    <div fxLayoutAlign="center center">
                        <mat-icon class="title_icon">queue_play_next</mat-icon> &nbsp;&nbsp;
                        <span class="head_subtitle">Member Since April 2023</span>
                    </div>
                </div>
                <mat-divider ></mat-divider>
                <div>
                    <div fxLayout="row wrap">
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-accounts-footer></app-accounts-footer>