<app-signup-header></app-signup-header>
<div class="p-5 pt-0">
    <div class="bg_width">
        <div class="bg">
            <div fxLayout="row wrap">
                <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="45" fxFlex.lg="45" fxFlex.xl="45" class="p-5 bord">
                    <div class="pb-2">
                        <span class="setp_font">Step<span class="setp_font_num">2</span>of<span class="setp_font_num">5</span></span>
                    </div>
                    <div class="pb-3">
                        <span class="header_title">Who will be watching Netflix?</span>
                    </div>
                    <div class="pb-5">
                        <span class="sub_dec">People living in your home can enjoiy recommendations tailored to their tastes and language preferences. Grant for children. </span>
                    </div>
                    <div>
                        <div class="pt-5 pb-2">
                            <mat-checkbox class="example-margin">English</mat-checkbox>
                        </div>
                        <div class="pt-2 pb-2">
                            <mat-checkbox class="example-margin">हिंदी</mat-checkbox>
                        </div>
                        <div class="pt-2 pb-5">
                            <mat-checkbox class="example-margin">বাংলা</mat-checkbox>
                        </div>
                    </div>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="55" fxFlex.lg="55" fxFlex.xl="55" class="p-5 bord">
                    <div class="pt-4 pb-5">
                        <div class="pb-2">
                            <span class="profile_title">Your Profile</span>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <div class="pb-4 ped_left">
                                <mat-icon class="person_icon">person_outline</mat-icon>
                            </div>
                            <div class="border_input">
                                <mat-form-field class="example-full-width">
                                    <input matInput class="input_height" placeholder="Name" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="pt-2 pb-0">
                        <div class="pb-2">
                            <span class="profile_title">Add Profiles?</span>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <div class="pb-4 ped_left">
                                <mat-icon class="person_icon">person_add</mat-icon>
                            </div>
                            <div class="border_input mb-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput class="input_height" placeholder="Name" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <div class="pb-4 ped_left">
                                <mat-icon class="person_icon">person_add</mat-icon>
                            </div>
                            <div class="border_input mb-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput class="input_height" placeholder="Name" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <div class="pb-4 ped_left">
                                <mat-icon class="person_icon">person_add</mat-icon>
                            </div>
                            <div class="border_input mb-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput class="input_height" placeholder="Name" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <div class="pb-4 ped_left">
                                <mat-icon class="person_icon">person_add</mat-icon>
                            </div>
                            <div class="border_input mb-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput class="input_height" placeholder="Name" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <div class="pb-4 ped_left">
                                <mat-icon class="person_icons">person_outline</mat-icon>
                            </div>
                            <div class="bord_dec">
                                <span>Only peaple who live with you may use your account.  <a class="setp_font_num">Learn more</a></span>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="end center" class="pt-3">
                        <button mat-button class="btn-next" (click)="goToRegFormPage()">
                            Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-signup-footer></app-signup-footer>