.background{
    height: 100%;
}
.bg{
    background-color: #000;
    height: 100%;
}
.profileImg{
    width: 145px;
    height: 145px;
}
.addborder{
    width: 600px;
    // border: 1px solid #fff;
}
.addprofilImg{
    border-radius: 4px;
}
.input_bg{
    width: 300px;
    height: 40px;
    background-color: #141414;
    // border-radius: 5px;
    display: flex;
    align-items: center;
  }
.example-full-width{
    width: 100%;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    ::placeholder {
        color: #fff !important;
      }
  }
  ::ng-deep .mat-form-field-underline {
    display: none;
  }
.childcheck{
    width: 20px;
    height: 20px;
}
.childname{
    font-size: 25px;
    margin-left: 5px;
    color: #fff;
}
.profiletitle{
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
}

.profilesubtitle{
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
}
.bord{
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 20px;
}
.btn_addprofile{
    background-color: transparent;
    border: 1px solid grey;
    color: grey;
    cursor: pointer;
    display: block;
    font-size: 1.2vw;
    letter-spacing: 2px;
    margin: 1em 0 1em;
    padding: 0.2em 1.0em;
    border-radius: 0px;
}
.btn_addprofile:hover{
    background-color: #fff;
    border: 1px solid grey;
    color: #000;
    cursor: pointer;
    display: block;
    font-size: 1.2vw;
    letter-spacing: 2px;
    margin: 1em 0 1em;
    padding: 0.2em 1.0em;
    border-radius: 0px;
}