<!-- <p (click)="goToChoosePlan()">password works!</p> -->
<app-signup-header></app-signup-header>
<div class="container borde_width" fxLayoutAlign="center start">
    <div class="borde_widths">
      <div class="pt-5">
        <div>
          <span class="setp_font">STEP
            <span class="setp_font_num">1</span>
            OF
            <span class="setp_font_num">3</span></span>
        </div>
        <div>
          <!-- <form [formGroup]="form" *ngIf="form" (ngSubmit)="onSubmit()"> -->
            <div class="pt-3">
              <span class="step_title">Welcome back!
                Joining Netflix is easy.</span>
            </div>
            <div class="pt-3 pb-3">
              <span class="step_sub_title">Enter your password and you'll be watching in no time.</span>
            </div>
            <div class="pt-3 pb-3">
              <div>
                <span class="email_title">Email</span>
              </div>
              <div>
                <span class="email_dec">abcd@123.com</span>
              </div>
            </div>
            <div class="border_input">
              <mat-form-field class="example-full-width">
                <mat-label>Enter Your Password</mat-label>
                <input matInput class="input_height" />
                <!-- <mat-error *ngIf="
                    form.get('password').errors &&
                    form.get('password').hasError('required')
                  ">{{ "regForm.passwordRequiredError" | translate }}</mat-error>
  
                <mat-error *ngIf="
                    form.get('password').errors &&
                    form.get('password').hasError('minLength')
                  ">{{ "regForm.passwordPatternError" | translate }}</mat-error> -->
              </mat-form-field>
            </div>
            <div class="pt-3 pb-3">
              <a class="forgat_password">Forgot your password?</a>
            </div>
          <!-- </form> -->
        </div>
  
        <!-- <div *ngIf="password">
          <div>
            <h2>{{ "regFormCreated.h1" | translate }}</h2>
          </div>
          <div>
            <h4>{{ "regFormCreated.h2" | translate }}</h4>
          </div>
          <div>{{ email }}</div>
        </div> -->
        <div class="pt-2">
          <button mat-button class="btn-next" (click)="goToChoosePlan()">
            NEXT
          </button>
        </div>
      </div>
    </div>
  </div>
  <app-signup-footer></app-signup-footer>