.video_player{
    background-position: 50%;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    transition: opacity .4s cubic-bezier(.665,.235,.265,.8) 0s;
    width: auto;
    height: 99vh;
}
.height{
    height: 100%;
}
.bg{
    background-color: #000;
    width: 100%;
    height: 100%;
}
