<app-signup-header></app-signup-header>
<div class="container borde_width" fxLayoutAlign="center start">
  <div class="borde_widths">
    <div class="pt-5">
      <div>
        <span class="setp_font"
          >STEP <span class="setp_font_num">1</span> OF
          <span class="setp_font_num">3</span></span
        >
      </div>
      <div *ngIf="!password">
        <form [formGroup]="form" *ngIf="form" (ngSubmit)="onSubmit()">
          <div class="pt-3">
            <span class="step_title"
              >Create a password to start your membership</span
            >
          </div>
          <div class="pt-3 pb-3">
            <span class="step_sub_title"
              >Just a few more steps and you're done!<br />
              We hate paperwork, too.</span
            >
          </div>
          <div class="border_input">
            <mat-form-field class="example-full-width">
              <!-- <mat-label>Email</mat-label> -->
              <input
                matInput
                formControlName="email"
                class="input_height"
                placeholder="Email"
              />

              <mat-error
                *ngIf="
                  form.get('email').errors &&
                  form.get('email').hasError('required')
                "
                >{{ "getStarted.emailRequiredError" | translate }}</mat-error
              >

              <mat-error
                *ngIf="
                  form.get('email').errors &&
                  form.get('email').hasError('pattern')
                "
                >{{ "getStarted.emailPatternError" | translate }}</mat-error
              >
            </mat-form-field>
          </div>
          <div class="border_input">
            <mat-form-field class="example-full-width">
              <mat-label>Add Password</mat-label>
              <input formControlName="password" matInput class="input_height" />
              <mat-error
                *ngIf="
                  form.get('password').errors &&
                  form.get('password').hasError('required')
                "
                >Password is required.</mat-error
              >

              <mat-error
                *ngIf="
                  form.get('password').errors &&
                  form.get('password').hasError('minLength')
                "
                >Password should be between 6 and 60 characters long.</mat-error
              >
            </mat-form-field>
          </div>
        </form>
      </div>

      <div *ngIf="password">
        <div>
          <h2>Account Created</h2>
        </div>
        <div>
          <h4>Use this email to access your account</h4>
        </div>
        <div>{{ email }}</div>
      </div>
      <div class="pt-2">
        <button mat-button class="btn-next" (click)="onSubmit()">Next</button>
      </div>
    </div>
  </div>
</div>
<app-signup-footer></app-signup-footer>
