<app-signup-header></app-signup-header>
<div class="container borde_width" fxLayoutAlign="center center">
  <div class="borde_widths">
    <div>
      <div>
        <span class="setp_font"
          >{{ "registration.stepTxt" | translate }}
          <span class="setp_font_num">{{
            "registration.inStep" | translate
          }}</span>
          {{ "registration.ofTxt" | translate }}
          <span class="setp_font_num">{{
            "registration.totalStep" | translate
          }}</span></span
        >
      </div>
      <div class="pt-3">
        <span class="step_title">{{ "registration.h1" | translate }}</span>
      </div>
      <div class="pt-3 pb-3">
        <span class="step_sub_title"> {{ "registration.h2" | translate }}</span>
      </div>
      <div>
        <button mat-button class="btn-next" (click)="goToRegFormPage()">
          {{ "registration.nextBtnTxt" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<app-signup-footer></app-signup-footer>
