<app-signup-header></app-signup-header>
    <div class="container borde_width" fxLayoutAlign="center center">
        <div  class="borde_widths">
            <div>
                <div>
                    <span class="setp_font">STEP <span class="setp_font_num">1</span> OF <span class="setp_font_num">3</span></span>
                </div>
                <div class="pt-3">
                    <span class="step_title">Finish setting up your account</span>
                </div>
                <div class="pt-3 pb-3">
                    <span class="step_sub_title">Netflix is personalised for you. Create a password to watch on any device at any time.</span>
                </div>
                <div>
                    <button mat-button class="btn-next" routerLink='registration/regform'>Next</button>
                </div>
            </div>
        </div>
    </div>
<app-signup-footer></app-signup-footer>