.bg{
    // background-color: #141414;
    // height: 100%;
    // overflow-y: auto;
}
.bgheight{
    // height: 100%;
    background-color: #141414;
    height: 100%;
    overflow-y: auto;
}
.bord{
    // border: 1px solid #fff;
    // width: 1400px;
    // height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user1{
    width: 145px;
    height: 145px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    .bgimg{
        border-radius: 4px;
    }
}

.user1:hover{
    border: 3px solid #fff;
    .bgimg{
        border-radius: 4px;
    }
}
.adduser{
    width: 145px;
    height: 145px;
    padding: 25px;
    border-radius: 4px;
    .face_icon{
        font-size: 100px;
        color: #fff;
    }
}
.adduser:hover{
    background-color: #fff;
    .face_icon{
        font-size: 100px;
        color: #828080;
    }
}
.title{
    font-size: 3.5vw;
    color: #fff;
}
.name{
    font-size: 1.2vw;
    color: #fff;
    margin-top: 10px;
    display: block;
}
.addname{
    font-size: 1.2vw;
    color: #fff;
    margin-top: 20px;
    display: block;
}
.profile_bord{
    width: 800px;
    // border: 1px solid #fff;
}
@media only screen and (min-width: 50px) and (max-width: 360px){

}

.h100 {
  min-height: 100vh;
}
