.bg{
    // background-color: #141414;
    // height: 100%;
    // overflow-y: auto;
}
.bgheight{
    // height: 100%;
    background-color: #141414;
    height: 100%;
    overflow-y: auto;
}
.bord{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user1{
    width: 145px;
    height: 145px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    .bgimg{
        width: 140px;
        border-radius: 4px;
    }
}

.user1:hover{
    border: 3px solid #fff;
    .bgimg{
        width: 140px;
        border-radius: 4px;
    }
}
.adduser{
    width: 145px;
    height: 145px;
    padding: 25px;
    border-radius: 4px;
    .face_icon{
        font-size: 100px;
        color: #fff;
    }
}
.adduser:hover{
    background-color: #fff;
    .face_icon{
        font-size: 100px;
        color: #828080;
    }
}
.title{
    font-size: 40px;
    color: #fff;
}
.name{
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
    display: block;
}
.addname{
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
    display: block;
}
.profile_bord{
    width: 1000px;
}
@media only screen and (min-width: 600px) and (max-width: 960px){
    .name{
        font-size: 16px;
    }
    .addname{
        font-size: 16px;
    }
    .profile_bord{
        width: 400px;
    }
    .title{
        font-size: 30px;
    }
    
}
@media only screen and (min-width: 200px) and (max-width: 600px){
    .name{
        font-size: 12px;
    }
    .addname{
        font-size: 10px;
    }
    .profile_bord{
        width: 300px;
    }
    .title{
        font-size: 30px;
    }
    .user1{
        width: 105px;
        height: 105px;
        .bgimg{
            width: 100px;
        }
    }
    .user1:hover{
        border: 3px solid #fff;
        .bgimg{
            width: 100px;
        }
    }
    
    .adduser{
        width: 100px;
        height: 100px;
        .face_icon{
            font-size: 50px;
            color: #fff;
        }
        .bgimg{
            width: 100px;
        }
    }
    .adduser:hover{
        background-color: #fff;
        .face_icon{
            font-size: 50px;
            color: #828080;
            word-wrap: none;
        }
    }
}
.h100 {
  min-height: 100vh;
}
