<div class="bgheight">
    <div class="bg">
        <div fxLayoutAlign="center center" class="pt-5">
            <div class="bord">
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="gappx">
                    <div class="pb-3">
                        <span class="title">Who's watching?</span>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <div class="p-4">
                            <div class="user1" (click)="goToHomePage()">
                                <img src="../../../assets/face1.png" alt="" width="140" class="bgimg">
                            </div>
                            <div fxLayoutAlign="center center" class="pt-2">
                                <span class="name">Test 1</span>
                            </div>
                        </div>
                        <div class="p-4">
                            <div class="user1">
                                <img src="../../../assets/face2.png" alt="" width="140" class="bgimg">
                            </div>
                            
                            <div fxLayoutAlign="center center" class="pt-2">
                                <span class="name">Test 2</span>
                            </div>
                        </div>
                        <div class="p-4">
                            <div class="user1">
                                <img src="../../../assets/child.png" alt="" width="140" class="bgimg">
                            </div>
                        
                            <div fxLayoutAlign="center center" class="pt-2">
                                <span class="name">Children</span>
                            </div>
                        </div>
                        <div class="p-4">
                            <div class="adduser">
                                <mat-icon class="face_icon">add_circle</mat-icon>
                            </div>
                            <div fxLayoutAlign="center center" class="pt-2">
                                <span class="name">Add Profile</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>