.bg{
    background-color: #f3f3f3;
}
.title{
    font-size: 2em;
    font-weight: bolder;
}
.subtitle{
    font-size: 18px;
}
.for_btn{
    color: #090909;
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 1px;
    background-color: #e8e1e1;
  }
  .for_btn:hover{
    background-color: #2490fd;
    color: #ffff;
    font-size: 16px;
    font-weight: 400;
  }
  .padding_btn{
    padding-right: 10px;
  }
  .example-form{
    width: 100%;
  }
  .example-full-width{
    width: 50%;
  }
  .example-margin{
    font-size: 18px;
  }