<div>
    <div class="bg">
        <app-accounts-header></app-accounts-header>
        <div class="container">
            <div class="p-5">
                <div class="pt-3 pb-3">
                    <span class="title">Change your password</span>
                </div>
                <div class="pt-3 pb-3">
                    <span class="subtitle">Protect your account with a unique password at least 6 characters long.</span>
                </div>
                <div class="pt-3 pb-3">
                    <form class="example-form">
                        <div>
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Email</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Password</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Re-Enter Password</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </form>
                </div>
                <div class="pt-3 pb-3">
                    <mat-checkbox class="example-margin">Sign out of all devices</mat-checkbox>
                </div>
                <div fxLayout="row" class="pt-3 pb-1">
                    <div class="padding_btn">
                      <button mat-button class="for_btn">Save</button>
                    </div>
                    <div>
                      <button mat-button class="for_btn">Cencel</button>
                    </div>
                  </div>
            </div>
        </div>
        <app-accounts-footer></app-accounts-footer>
    </div>
</div>
