.bag_img{
    background-image: url("/assets/ForgotPassword.jpg") !important;
    width: 100%;
    height: 100%;
}
.bag_center{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.bag_forgot_fot{
    width: 450px;
}
.bag_forgot{
    border: 1px solid #ffff;
    width: 450px;
    height: 500px;
    background-color: #f3f3f3;
    padding: 40px;
}
.for_header{
    font-size: 2rem;
    font-weight: 500;
}
.for_subheader{
    font-size: 16px;
}
.for_subheaders{
    font-size: 16px;
}
.for_radious{
    font-size: 18px;
    font-weight: 400;
}
.example-form {
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    font-size: 16px;
  }
  .example-full-widths {
    width: 100%;
    font-size: 13px;
  }
  .for_select{
    height: 15px;
  }
  .for_btn{
    width: 100%;
    background-color: #2490fd;
    color: #ffff;
    height: 50px;
    font-size: 18px;
    font-weight: 400;
  }
  .for_link{
    font-size: 16px;
    color: #2490fd;
    text-decoration: none;
    cursor: pointer;
  }
  .for_link:hover{
    font-size: 16px;
    color: #2490fd;
    text-decoration: underline;
    cursor: pointer;
  }
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
	background-color: #2490fd!important;   /*inner circle color change*/
}
::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
	border-color: #2490fd!important; /*outer ring color change*/
}
::ng-deep .mat-form-field-underline {
    display: none;
}
.for_dec{
    font-size: 17px;
    color: #999;
    font-weight: 400;
}
.for_dec_link{
    font-size: 17px;
    color: #999;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}
.for_dec_link:hover{
    font-size: 17px;
    color: #999;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
}
.for_contry{
    border: 1px solid #000;
    height: 45px;
    width: 100px;
    padding-left: 5px;
    padding-right: 5px;
}
.for_number{
    border: 1px solid #000;
    height: 45px;
    width: 60%;
    border-left: none;
    padding-left: 5px;
    padding-right: 5px;
}


.error_message{
    border: 1px solid #e87c03;
    background-color: #e87c03;
    height: 55px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    .error_font{
        font-size: 16px;
        color: #fff;
        font-weight: 400;
        .error_bold{
            font-size: 17px;
            font-weight: 500;
        }
    }
}