<div class="footer_toolbar">
  <div class="container">
    <div class="p-2 pt-0 pr-0 pb-4">
      <span class="title">{{ "footer.questionTxt" | translate }}</span>
    </div>
    <div fxLayout="row wrap">
      <div
        fxFlex.xs="50"
        fxFlex.sm="50"
        fxFlex.md="25"
        fxFlex.lg="25"
        fxFlex.xl="25"
        *ngFor="let foterList of foterLists"
        class="p-2"
      >
        <a>
          <span class="list_data">{{ foterList.name }}</span>
        </a>
      </div>
    </div>
    <div class="p-2 pt-4">
      <button mat-button [matMenuTriggerFor]="menu" class="menu_btn">
        <mat-icon class="lang_bg">language</mat-icon>&nbsp;
        {{ selectedLang === "en" ? "English" : "हिन्दी" }} &nbsp;<mat-icon
          >arrow_drop_down</mat-icon
        >
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="switchLanguage('en')">English</button>
        <!-- <button mat-menu-item (click)="switchLanguage('hi')">हिन्दी</button> -->
        <button mat-menu-item>हिन्दी</button>
      </mat-menu>
    </div>
    <div class="p-2">
      <span class="footer_dec">Netflix India</span>
    </div>
  </div>
</div>
