<div class="bg_height">
  <div class="bg">
    <app-home-header
      (selectCategory)="goToTheCategory($event)"
    ></app-home-header>
    <div class="bg_img">
      <img class="bg__image" src="assets/Home_bg.webp" alt="" />
      <!-- 
      <img
      class="bg__image"
      [src]="
        homeData.home_banner_video.thumbnail_image.length > 0
          ? homeData.home_banner_video.thumbnail_image[0]
          : 'assets/5.jpg'
      "
      alt=""
    /> -->
    </div>
    <!-- <div class="bg_homes">
      <div fxLayoutAlign="start center" class="movie_title">
        <div class="movie_title_data">
          <div class="pb-2">
            <img src="assets/Priets.webp" alt="" />
          </div>
          <div class="pt-2 pb-3">
            <span class="dec_mov">{{homeData?.home_banner_video?.[0].description | slice:0:100}}</span>
          </div>
          <div fxLayout="row">
            <div class="p-2">
              <button (click)="goToPage('video-player')" mat-button class="btn_play">
                <mat-icon class="btn_icon">play_arrow</mat-icon>Play
              </button>
            </div>
            <div class="p-2">
              <button mat-button class="btn_more">
                <mat-icon class="btn_icon">info</mat-icon>More Info
              </button>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="bg_color">
      <div class="section_title">
        <span class="movie_types">Trending video</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" class="pb-5">
        <div class="pull-left mt-sm">
          <button mat-mini-fab (click)="scrollLeft()" class="btn_arrow">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
        </div>
        <div #widgetsContent class="custom-slider-main">
          <div
            *ngFor="
              let trending of homeData?.home_trending_video;
              let i = index
            "
          >
            <div class="info-boxs">
              <img
                (mouseenter)="action(i, trending, true)"
                src="{{
                  trending?.thumbnail_image.length > 0
                    ? trending?.thumbnail_image[0]
                    : 'assets/5.jpg'
                }}"
                class="list_movie"
              />
            </div>
            <div
              (mouseleave)="action(i, trending, false)"
              *ngIf="trending?.show"
              class="focas_data"
              style="position: absolute"
            >
              <div (click)="goToPage('video-player')">
                <app-jwplayer></app-jwplayer>
              </div>
              <div class="focas_bg">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  <div fxLayout="row" class="pt-3 pb-1">
                    <div class="p-2">
                      <button mat-mini-fab class="mini_btn">
                        <mat-icon>play_arrow</mat-icon>
                      </button>
                    </div>
                    <div class="p-2">
                      <button mat-mini-fab class="mini_btn">
                        <mat-icon>add</mat-icon>
                      </button>
                    </div>
                    <div class="p-2">
                      <button mat-mini-fab class="mini_btn">
                        <mat-icon>thumb_up_alt</mat-icon>
                      </button>
                    </div>
                  </div>
                  <div class="pt-3 pb-1">
                    <div class="p-2">
                      <button
                        mat-mini-fab
                        class="mini_btn"
                        (click)="openDialog(trending)"
                      >
                        <mat-icon>expand_more</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center">
                  <div class="p-2">
                    <span class="focas_title">98% Match</span>
                  </div>
                  <div class="focas_bord p-2">
                    <span class="focas_subtitle"
                      >U/A {{ trending?.maturity_rating }}</span
                    >
                  </div>
                  <div class="p-2">
                    <span class="focas_titles">7 Episodes</span>
                  </div>
                  <div class="focas_bords p-2">
                    <span class="focas_subtitles">HD</span>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" class="pb-2">
                  <div class="p-2">
                    <span class="focas_titles">Gritty</span>
                  </div>
                  <div class="pb-3">
                    <span class="dot">.</span>
                  </div>
                  <div class="p-2">
                    <span class="focas_titles">True Crime</span>
                  </div>
                  <div class="pb-3">
                    <span class="dot">.</span>
                  </div>
                  <div class="p-2">
                    <span class="focas_titles">Corruption</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pull-right mt-sm">
          <button mat-mini-fab (click)="scrollRight()" class="btn_arrow">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </div>
    </div> -->

    <div
      *ngFor="let homeVideo of homeData?.home_video; let i = index"
      class="bg_color"
    >
      <div class="section_title">
        <span class="movie_types">{{ homeVideo?.category }}</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="pull-left mt-sm">
          <button mat-mini-fab (click)="scrollLeft()" class="btn_arrow">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
        </div>
        <div #widgetsContent class="custom-slider-main">
          <div *ngFor="let video of homeVideo.videos; let j= index">
            <div class="info-boxs">
              <img
                (mouseenter)="action(i, video, true, j)"
                [src]="
                  video?.thumbnail_image.length > 0
                    ? video?.thumbnail_image[0]
                    : 'assets/5.jpg'
                "
                class="list_movie"
              />
            </div>
            <div
              (mouseleave)="action(i, video, false, j)"
              *ngIf="video?.show"
              class="focas_data"
              style="position: absolute"
            >
              <div (click)="goToPage('video-player')">
                <!-- <app-jwplayer></app-jwplayer> -->
                <video autoplay muted class="video_player">
                  <source [src]="video?.trailer[0]" type="video/mp4" />
                </video>
              </div>
              <div class="focas_bg">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  <div fxLayout="row" class="pt-3 pb-1">
                    <div class="p-2">
                      <button mat-mini-fab class="mini_btn">
                        <mat-icon>play_arrow</mat-icon>
                      </button>
                    </div>
                    <div class="p-2">
                      <button mat-mini-fab class="mini_btn">
                        <mat-icon
                          *ngIf="!videoDetail?.is_wishlist"
                          (click)="addToMyList(videoDetail)"
                          >add</mat-icon
                        >
                        <mat-icon
                          *ngIf="videoDetail?.is_wishlist"
                          (click)="removeFromWishlist(videoDetail)"
                          >check</mat-icon
                        >
                      </button>
                    </div>
                    <div class="p-2">
                      <button mat-mini-fab class="mini_btn">
                        <mat-icon
                          *ngIf="!videoDetail?.like"
                          (click)="likeOrUnlike(videoDetail, 'like')"
                          >thumb_up_alt</mat-icon
                        >
                        <mat-icon
                          *ngIf="videoDetail?.like"
                          (click)="likeOrUnlike(videoDetail, 'unlike')"
                          >thumb_down</mat-icon
                        >
                      </button>
                    </div>
                  </div>
                  <div class="pt-3 pb-1">
                    <div class="p-2">
                      <button
                        mat-mini-fab
                        class="mini_btn"
                        (click)="openDialog(video)"
                      >
                        <mat-icon>expand_more</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center">
                  <div class="p-2">
                    <span class="focas_title">98% Match</span>
                  </div>
                  <div class="focas_bord p-2">
                    <span class="focas_subtitle"
                      >U/A {{ video.maturity_rating }}</span
                    >
                  </div>
                  <div class="p-2">
                    <span class="focas_titles">7 Episodes</span>
                  </div>
                  <div class="focas_bords p-2">
                    <span class="focas_subtitles">HD</span>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" class="pb-2">
                  <div class="p-2">
                    <span class="focas_titles">Gritty</span>
                  </div>
                  <div class="pb-3">
                    <span class="dot">.</span>
                  </div>
                  <div class="p-2">
                    <span class="focas_titles">True Crime</span>
                  </div>
                  <div class="pb-3">
                    <span class="dot">.</span>
                  </div>
                  <div class="p-2">
                    <span class="focas_titles">Corruption</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pull-right mt-sm">
          <button mat-mini-fab (click)="scrollRight()" class="btn_arrow">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <app-home-footer></app-home-footer>
  </div>
</div>
