<mat-toolbar class="header_toolbar" fxLayout="row">
  <div
    fxFlex.xs="50"
    fxFlex.sm="50"
    fxFlex.md="50"
    fxFlex.lg="50"
    fxFlex.xl="50"
    fxLayoutAlign="start center"
    (click)="goToSignIn()"
  >
    <img src="assets/netflix-logo.png" alt="" class="netflix_logo" />
  </div>
  <div
    fxFlex.xs="50"
    fxFlex.sm="50"
    fxFlex.md="50"
    fxFlex.lg="50"
    fxFlex.xl="50"
    fxLayoutAlign="end center"
  >
    <div fxLayout="row">
      <div class="p-2">
        <button mat-button [matMenuTriggerFor]="menu" class="menu_btn">
          <mat-icon class="lang_bg">language</mat-icon>
          {{ selectedLang === "en" ? "English" : "हिन्दी"
          }}<mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="switchLanguage('en')">English</button>
          <button mat-menu-item (click)="switchLanguage('hi')">हिन्दी</button>
        </mat-menu>
      </div>
      <div *ngIf="!pass" class="p-2">
        <button mat-button class="btn_sign_in" (click)="signIn()">Sign In</button>
      </div>

      <div *ngIf="pass" class="p-2">
        <button mat-button class="btn_sign_in" (click)="signOut()">
          Sign Out
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>
